@font-face {
  font-family: Satoshi-Bold;
  src: url('../assets/font/Satoshi-Bold.woff2') format('woff2');
}

@font-face {
  font-family: Satoshi-Medium;
  src: url('../assets/font/Satoshi-Medium.woff2') format('woff2');
}

:root {
  --color-background: #020005;
  --color-background-nav-bar: #0c0a17;
  --color-background-search-bar: #100f14;
  --color-acento: #6e2fe7;
  --color-texto: #dedede;
  --color-texto-secundario: #7f7f7f;

  --font-bold: Satoshi-Bold;
  --font-medium: Satoshi-Medium;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--color-texto);
}

#app {
  min-height: 100dvh;
}

main {
  margin: 2rem 2.5rem 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bold);
}

p,
span,
a,
li,
input {
  font-family: var(--font-medium);
}

a {
  text-decoration: none;
}

@media (min-width: 1024px) {
  body {
    margin: 0 0 0 220px;
  }
}
